{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
</form>
<div class="row">
    <div class="col-md-6">
        <h4>{% trans "No account?" %}</h4>
        <p>
            <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
                <span class="{% fa_class 'sign-in' %}"></span>
                {% trans "Register" %}
            </a>
        </p>
    </div>
    <div class="col-md-6">
        <h4>{% trans "Forgot password?" %}</h4>
        <p>
            <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
                <span class="{% fa_class 'key' %}"></span>
                {% trans "Reset password" %}
            </a>
        </p>            
    </div>
</div>
{% endblock %}


{% block sidebar %}
<h4 class="text text-primary">Sign in with social apps</h4>
<div class="row">
    <a class="btn btn-block btn-primary" href="{% url 'social:begin' 'facebook' %}"><i class="fa  fa-facebook"></i><span class="social-login"  id="social-facebook">  Login with Facebook</span></a>
    <a class="btn btn-block btn-info" href="{% url 'social:begin' 'twitter' %}"><i class="fa fa-twitter"></i><span class="social-login">  Login with Twitter</span></a>
    <a class="btn btn-block btn-danger" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i><span class="social-login">  Login with Google</span></a>
</div>
<hr/>
{% endblock %}
