{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}


<!--
        Title
-->

{% block title %}{% trans "Edit set" %}{% endblock %}

<!--
        Main Content
-->
{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal">

    {% csrf_token %}
    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label">
                {% trans "Repetitions" %}
            </label>
            <br />
            <label class="control-label">
                    {{workout_type}}
            </label>
            
        </div>
        <div class="col-md-9">
        {% for formset in formsets %}
                {% include 'set/formset.html' with exercise=formset.exercise formset=formset.formset %}
        {% endfor %}
        </div>
    </div>

    {% render_form_submit %}
</form>
{% endblock %}
